.containerSobreMi {
    height: 90%;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: 70px;
}

.noFixed {
    margin-top: 60px;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

@keyframes entrada {
    0% {
        bottom: -140%;
    }

    100% {
        bottom: 0%;
    }
}

.letra {
    color: #2128DB;
    font-size: 85px;
    font-weight: 700;
    z-index: 10;
    display: inline-block;
    font-style: italic;
}

.containerHola {
    width: 14rem;
    position: relative;
    overflow: hidden;
    animation-name: entrada;
    animation-duration: 4.5s;
    animation-timing-function: ease-in-out;
    transition: .5s all ease-in-out;
}

.containerHola span {
    position: relative;
    z-index: -3;
    transform: scale(1);
}

.containerHola span:nth-child(1) {
    animation: muestraLetra 4s ease-in-out;
}

.containerHola span:nth-child(2) {
    animation: muestraLetra 4.5s ease-in-out;
}

.containerHola span:nth-child(3) {
    animation: muestraLetra 5s ease-in-out;
}

.containerHola span:nth-child(4) {
    animation: muestraLetra 5.5s ease-in-out;
}

.containerHola span:nth-child(5) {
    animation: muestraLetra 6s ease-in-out;
}

@keyframes muestraLetra {
    0% {
        filter: opacity(0%);
    }

    100% {
        filter: opacity(100%);
    }
}

.containerLeandro {
    width: 34rem;
    position: relative;
    overflow: hidden;
    animation-name: entrada;
    animation-duration: 5.5s;
    animation-timing-function: ease-in-out;
    transition: .5s all ease-in-out;
}

.containerLeandro span {
    position: relative;
    z-index: -3;
    transform: scale(1);
}

.containerLeandro span:nth-child(1) {
    animation: muestraLetra 6.2s ease-in-out;
}

.containerLeandro span:nth-child(2) {
    animation: muestraLetra 6.4s ease-in-out;
}

.containerLeandro span:nth-child(3) {
    margin-right: 25px;
    animation: muestraLetra 6.6s ease-in-out;
}

.containerLeandro span:nth-child(4) {
    animation: muestraLetra 6.8s ease-in-out;
}

.containerLeandro span:nth-child(5) {
    animation: muestraLetra 7s ease-in-out;
}

.containerLeandro span:nth-child(6) {
    animation: muestraLetra 7.2s ease-in-out;
}

.containerLeandro span:nth-child(7) {
    animation: muestraLetra 7.4s ease-in-out;
}

.containerLeandro span:nth-child(8) {
    animation: muestraLetra 7.6s ease-in-out;
}

.containerLeandro span:nth-child(9) {
    animation: muestraLetra 7.8s ease-in-out;
}

.containerLeandro span:nth-child(10) {
    animation: muestraLetra 8s ease-in-out;
}

.containerDesarrollador {
    width: 75rem;
    position: relative;
    display: flex;
    flex-direction: row;
    animation-name: entrada;
    animation-duration: 8.5s;
    animation-timing-function: ease-in-out;
    transition: .5s all ease-in-out;
}

.containerDesarrollador div {
    transition: .5s all ease-in-out;
}

.containerDesarrollador div span {
    position: relative;
    transform: scale(1);
    z-index: -3;
}

.containerDesarrollador div span:nth-child(1) {
    animation: muestraLetra 8.2s ease-in-out;
}

.containerDesarrollador span:nth-child(2) {
    animation: muestraLetra 8.4s ease-in-out;
}

.containerDesarrollador span:nth-child(3) {
    animation: muestraLetra 8.6s ease-in-out;
}

.containerDesarrollador span:nth-child(4) {
    animation: muestraLetra 8.8s ease-in-out;
}

.containerDesarrollador span:nth-child(5) {
    animation: muestraLetra 9s ease-in-out;
}

.containerDesarrollador span:nth-child(6) {
    animation: muestraLetra 9.2s ease-in-out;
}

.containerDesarrollador span:nth-child(7) {
    animation: muestraLetra 9.4s ease-in-out;
}

.containerDesarrollador span:nth-child(8) {
    animation: muestraLetra 9.6s ease-in-out;
}

.containerDesarrollador span:nth-child(9) {
    animation: muestraLetra 9.8s ease-in-out;
}

.containerDesarrollador span:nth-child(10) {
    animation: muestraLetra 10s ease-in-out;
}

.containerDesarrollador span:nth-child(11) {
    animation: muestraLetra 10.2s ease-in-out;
}

.containerDesarrollador span:nth-child(12) {
    animation: muestraLetra 10.4s ease-in-out;
}

.containerDesarrollador span:nth-child(13) {
    animation: muestraLetra 10.6s ease-in-out;
    margin-right: 25px;
}

.containerDesarrollador span:nth-child(14) {
    animation: muestraLetra 10.8s ease-in-out;
}

.containerDesarrollador span:nth-child(15) {
    animation: muestraLetra 11s ease-in-out;
}

.containerDesarrollador span:nth-child(16) {
    animation: muestraLetra 11.2s ease-in-out;
}

.containerDesarrollador span:nth-child(17) {
    animation: muestraLetra 11.4s ease-in-out;
}

.containerDesarrollador span:nth-child(18) {
    animation: muestraLetra 11.6s ease-in-out;
}

.containerDesarrollador span:nth-child(19) {
    animation: muestraLetra 11.8s ease-in-out;
}

.containerDesarrollador span:nth-child(20) {
    animation: muestraLetra 12s ease-in-out;
}

.containerDesarrollador span:nth-child(21) {
    animation: muestraLetra 12.2s ease-in-out;
}

.containerDesarrollador span:nth-child(22) {
    animation: muestraLetra 12.4s ease-in-out;
}

.containerDesarrollador span:nth-child(23) {
    animation: muestraLetra 12.6s ease-in-out;
}

.pelotita1 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: aqua;
    border-radius: 100%;
    left: 5%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 6s;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 100%;
    left: 40%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 5s;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita3 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 100%;
    left: 30%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 4s;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita4 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    left: 60%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 8s;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita5 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: violet;
    border-radius: 100%;
    left: 70%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 7s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita6 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: maroon;
    border-radius: 100%;
    left: 90%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 4.5s;
    animation-duration: 7s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita7 {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 100%;
    left: 98%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 5.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita8 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: deeppink;
    border-radius: 100%;
    left: 10%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 6.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita9 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: darkcyan;
    border-radius: 100%;
    left: 15%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 9s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita10 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: darkorchid;
    border-radius: 100%;
    left: 72%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 8.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita11 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: goldenrod;
    border-radius: 100%;
    left: 35%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 10s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita12 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: indigo;
    border-radius: 100%;
    left: 65%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 10.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita13 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightsalmon;
    border-radius: 100%;
    left: 60%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 11.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita13 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: navy;
    border-radius: 100%;
    left: 75%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 12.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita14 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: navy;
    border-radius: 100%;
    left: 65.5%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 13.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.pelotita15 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: orchid;
    border-radius: 100%;
    left: 50%;
    z-index: -5;
    bottom: -10%;
    animation-name: muestra;
    animation-delay: 7.5s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes muestra {
    0% {
        bottom: -10%;
    }

    100% {
        bottom: 130%;
    }
}

@media (max-width:1024px) {
    .containerGlobalHola {
        width: 90vw
    }

    .containerHola span {
        font-size: 50px;
    }

    .containerLeandro span {
        font-size: 50px;
    }

    .containerDesarrollador {
        width: 40rem;
    }

    .containerDesarrollador span {
        font-size: 50px;
    }
}

@media (max-width:425px) {

    .containerSobreMi {
        top: 110px;
    }

    .noFixed {
        justify-content: start;
    }

    .containerHola {
        width: 35%;
    }

    .containerLeandro {
        width: 90%;
    }

    .containerDesarrollador {
        width: 100%;
        flex-direction: column;
    }

    .containerHola {
        margin-bottom: 20px;
    }

    .containerLeandro {
        margin-bottom: 20px;
    }

    .containerDesarrollador {
        margin-bottom: 20px;
    }

    .containerDesarrollador div:nth-child(1) {
        margin-bottom: 20px;
    }
}

@media (max-width:375px) {
    .containerHola span {
        font-size: 40px;
    }

    .containerLeandro span {
        font-size: 40px;
    }

    .containerDesarrollador div span {
        font-size: 40px;
    }
}

@media (max-width:320px) {
    .containerHola span {
        font-size: 35px;
    }

    .containerLeandro span {
        font-size: 35px;
    }

    .containerDesarrollador div span {
        font-size: 35px;
    }
}