.containerSobreMi2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    top: 60px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.seccionIzquierda {
    margin: 0;
    width: 50vw;
    min-height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.seccionIzquierda h1 {
    margin: 0;
    margin-bottom: 21px;
}

.seccionDerecha {
    margin-top: 40px;
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.seccionDerecha a:nth-child(2) {
    margin: 40px 0px;
}

.seccionDerecha a:nth-child(3) {
    margin-bottom: 40px;
}

.containerTextSobre {
    position: absolute;
    width: 70%;
    height: 85%;
}

.containerTextSobre h1 {
    transition: .5s all;
    font-size: 40px;
    position: relative;
    background-color: transparent;
    animation-name: difuminado;
    color: #08dff8;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.containerTextSobre p:nth-child(2) {
    font-size: 14px;
    transform: scale(1);
    transition: .5s all;
    position: relative;
    animation-name: difuminado3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    transform: scale(1);
    color: #fff;
}

.containerTextSobre p:nth-child(3) {
    font-size: 14px;
    transition: .5s all;
    position: relative;
    animation-name: difuminado;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    transform: scale(1);
    color: #fff;
}

.entablar {
    font-size: 18px;
    transform: scale(1);
    transition: .5s all;
    position: relative;
    animation-name: difuminado3;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    transform: scale(1);
    color: #08dff8;
}

@keyframes difuminado {
    0% {
        left: -200%;
        filter: opacity(0%);
    }

    100% {
        left: 0px;
        filter: opacity(100%);
    }
}

@keyframes difuminado3 {
    0% {
        right: -200%;
        filter: opacity(0%);
    }

    100% {
        right: 0px;
        filter: opacity(100%);
    }
}

.containerCoder {
    color: #08dff8;
    border: 1px solid #08dff8;
    position: relative;
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    cursor: none;
    transform: scale(1);
    transition: .8s all ease-in-out;
    background-color: transparent;
}

.seccionDerecha a:nth-child(1) {
    animation-name: ingresoA;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

.seccionDerecha a:nth-child(2) {
    animation-name: ingresoA;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.seccionDerecha a:nth-child(3) {
    animation-name: ingresoA;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.seccionDerecha a:nth-child(4) {
    animation-name: ingresoA;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes ingresoA {
    0% {
        top: -1000px;
        filter: opacity(0%);
    }

    100% {
        top: 0px;
        filter: opacity(100%);
    }
}

.containerCoder a {
    cursor: none;
    text-decoration: none;
    color: #2128DB;
}

.containerCoder h3 {
    background: transparent;
}

.containerCoder p {
    background: transparent;
    margin: 0;
    margin-bottom: 10px;
}

@media(max-width:1024px) {
    .containerCoder h3 {
        font-size: 16px;
    }
}

@media(max-width:768px) {
    .containerCoder h3 {
        font-size: 12px;
    }

    .containerCoder p {
        font-size: 10px;
    }

    .seccionIzquierda {
        align-items: flex-start;
    }

    .containerTextSobre h1 {
        font-size: 22px;
    }

    .containerTextSobre p {
        font-size: 12px;
    }
}

@media(max-width:425px) {
    body {
        overflow: auto;
    }


    .containerSobreMi2 {
        justify-content: space-around;
        flex-direction: column;
        height: 200vh;
    }

    .seccionIzquierda {
        position: relative;
        z-index: -1;
        height: 80vh;
        width: 95vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: none;
    }

    .containerTextSobre {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 80%;
    }

    .seccionDerecha {
        position: relative;
        margin: 0;
        justify-content: start;
        height: 80vh;
        width: 100vw;
        min-height: none;
    }
}

@media(max-width:420px) {

    .containerSobreMi2 {
        justify-content: space-around;
        flex-direction: column;
        height: 110vh;
    }

    .containerTextSobre {
        height: 80vh;
        width: 90vw;
    }

    .seccionIzquierda {
        width: 100%;
        height: 60vh;
    }

    .seccionDerecha {
        justify-content: center;
        height: 50vh;
    }
}

@media(max-width:375px) {
    body {
        overflow: auto;
    }


    .containerSobreMi2 {
        justify-content: space-around;
        flex-direction: column;
        height: 180vh;
    }

    .seccionDerecha {
        position: relative;
        margin: 0;
        justify-content: start;
        height: 80vh;
        width: 100vw;
        min-height: none;
    }

    .containerCoder {
        width: 220px;
    }
}