.containerNavBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    position: fixed;
    align-items: center;
    background-color: transparent;
    height: 20px;
    color: transparent;
}

.Persona {
    margin-left: 50px;
    font-weight: 600;
    color: #2128DB;
    position: relative;
    font-size: 20px;
    left: 0;
    transform: scale(1);
    transition: 1s all;
    animation-name: entradaPersona;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes entradaPersona {
    0% {
        left: -50%;
    }

    100% {
        left: 0;
    }
}

.containerSpan {
    margin-right: 100px;
    display: flex;
}

.containerSpan div {
    margin-left: 40px;
    font-weight: 600;
    color: transparent;
    font-size: 14px;
    height: 100px;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.containerSpan div:nth-child(1) {
    content: "Sobre mi";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes arribaSpan {
    0% {
        top: -30px;
        filter: opacity(0%);
    }

    100% {
        top: 0;
        filter: opacity(100%);
    }
}

.containerSpan div:nth-child(1):hover {
    top: -20px;
}


.containerSpan div:nth-child(2) {
    content: "Habilidades";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.containerSpan div:nth-child(2):hover {
    top: -20px;
}

.containerSpan div:nth-child(3) {
    content: "Proyecto";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}


.containerSpan div:nth-child(3):hover {
    top: -20px;
}

.containerSpan div:nth-child(4) {
    content: "Contacto";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


.containerSpan div:nth-child(4):hover {
    top: -20px;
}