.containerNavBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    position: fixed;
    align-items: center;
    background-color: transparent;
    height: 20px;
    color: transparent;
}

.containerDesplegable {
    display: none;
    z-index: 100;
}

.Persona {
    margin-left: 50px;
    font-weight: 600;
    color: #2128DB;
    position: relative;
    font-size: 20px;
    left: 0;
    transform: scale(1);
    transition: 1s all;
    animation-name: entradaPersona;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.Persona::first-letter {
    font-style: italic;
    font-size: 30px;
    margin-right: 2px;
}

@keyframes entradaPersona {
    0% {
        left: -50%;
    }

    100% {
        left: 0;
    }
}

.containerSpan {
    margin-right: 100px;
    display: flex;
}

.containerSpan div {
    margin-left: 40px;
    font-weight: 600;
    color: transparent;
    font-size: 14px;
    height: 100px;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.containerSpan div:nth-child(1) {
    content: "Sobre mi";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes arribaSpan {
    0% {
        top: -30px;
        filter: opacity(0%);
    }

    100% {
        top: 0;
        filter: opacity(100%);
    }
}

.containerSpan div:nth-child(1):hover {
    top: -20px;
}


.containerSpan div:nth-child(2) {
    content: "Habilidades";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.containerSpan div:nth-child(2):hover {
    top: -20px;
}

.containerSpan div:nth-child(3) {
    content: "Proyecto";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}


.containerSpan div:nth-child(3):hover {
    top: -20px;
}

.containerSpan div:nth-child(4) {
    content: "Contacto";
    color: #2128DB;
    position: relative;
    top: 0;
    transition: .5s all;
    animation-name: arribaSpan;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


.containerSpan div:nth-child(4):hover {
    top: -20px;
}

@media (max-width:425px) {
    .containerSpan {
        display: none;
    }

    .containerDesplegable {
        display: block;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 40px;
        z-index: 100;
    }

    .lineaDesple1 {
        width: 40px;
        height: 3px;
        background-color: #2128DB;
        border-radius: 25%;
    }

    .lineaDesple2 {
        width: 35px;
        height: 3px;
        background-color: #2128DB;
        border-radius: 25%;
    }

    .lineaDesple3 {
        width: 40px;
        height: 3px;
        background-color: #2128DB;
        border-radius: 25%;
    }

    .containerMenuDesple {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 15vh;
        background-color: #fff;
        z-index: 100;
        top: -50px;
        animation-name: desplegable;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }

    @keyframes desplegable {
        0% {
            top: -600%
        }

        100% {
            top: -40px
        }
    }

    .containerMenu {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .containerMenuDesple div {
        color: #2128DB;
        font-weight: 600;
        z-index: 20;
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    .containerMenu button {
        z-index: 100;
        border-radius: 50%;
        font-weight: 600;
        border: none;
        color: #2128DB;
        background-color: transparent;
        position: absolute;
        top: 15px;
        left: 50%;
        font-size: 25px;
    }
}

@media (max-width:375px) {
    .containerMenu div {
        font-size: 12px;
    }
}