.containerApp {
    position: relative;
}

.containerNavRutas {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
}

#cursor {
    position: absolute;
    width: 1rem;
    z-index: 10;
    height: 1rem;
    background-color: #2128DB;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: #fff;
    transition: 0.5s;
    transition-property: transform;
}

#cursor::after {
    content: attr(texto);
    font-size: 0.15rem;
}