.containerAppsGlobal {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImgPro {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: movimientoGlobal;
    animation-delay: 1s;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 0;
    top: 0;
}

@keyframes movimientoGlobal {
    0% {
        left: 0px;
        top: 0px;
    }

    5% {
        left: 40px;
        top: -40px;
    }

    10% {
        left: -40px;
        top: 40px;
    }

    15% {
        left: -40px;
        top: -40px;
    }

    20% {
        left: 40px;
        top: 40px;
    }

    25% {
        left: -40px;
        top: -40px;
    }

    30% {
        left: -40px;
        top: 40px;
    }

    35% {
        left: 40px;
        top: 40px;
    }

    40% {
        left: -40px;
        top: -40px;
    }

    45% {
        left: 40px;
        top: -40px;
    }

    50% {
        left: -40px;
        top: 40px;
    }

    55% {
        left: 40px;
        top: 40px;
    }

    60% {
        left: -40px;
        top: -40px;
    }

    65% {
        left: 40px;
        top: -40px;
    }

    70% {
        left: -40px;
        top: -40px;
    }

    75% {
        left: 40px;
        top: -40px;
    }

    80% {
        left: 40px;
        top: 40px;
    }

    85% {
        left: -40px;
        top: -40px;
    }

    90% {
        left: 40px;
        top: -40px;
    }

    95% {
        left: 40px;
        top: 40px;
    }

    100% {
        left: -40px;
        top: -40px;
    }
}

.containerImgPro a {
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImgPro a:nth-child(1) {
    animation-name: entrada1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes entrada1 {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.containerImgPro a:nth-child(2) {
    animation-name: entrada2;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes entrada2 {
    0% {
        top: -250%;
    }

    100% {
        top: 0;
    }
}

.containerImgPro a:nth-child(3) {
    animation-name: entrada3;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes entrada3 {
    0% {
        bottom: -400%;
    }

    100% {
        bottom: 0;
    }
}

.containerImgPro a:nth-child(4) {
    animation-name: entrada4;
    animation-timing-function: ease-in-out;
    animation-duration: 2.2s;
}

@keyframes entrada4 {
    0% {
        right: -600%;
    }

    100% {
        right: 0;
    }
}

.imagenProyec {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    filter: grayscale(60%);
    transition: .5s all;
}

.containerImgPro a:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

.aPrimero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aPrimero span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aPrimero:hover span {
    transform: scale(1);
}

.aSegundo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aSegundo span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aSegundo:hover span {
    transform: scale(1);
}

.aTercero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aTercero span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aTercero:hover span {
    transform: scale(1);
}

.aCuarto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aCuarto span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aCuarto:hover span {
    transform: scale(1);
}

@keyframes cambiarColor {
    0% {
        background-color: #08dff8;
        color: #000;
    }

    5% {
        background-color: #ff0099;
        color: #fff;
    }

    10% {
        background-color: #08dff8;
        color: #000;
    }

    15% {
        background-color: #ff0099;
        color: #fff;
    }

    20% {
        background-color: #08dff8;
        color: #000;
    }

    25% {
        background-color: #ff0099;
        color: #fff;
    }

    30% {
        background-color: #08dff8;
        color: #000;
    }

    35% {
        background-color: #ff0099;
        color: #fff;
    }

    40% {
        background-color: #08dff8;
        color: #000;
    }

    45% {
        background-color: #ff0099;
        color: #fff;
    }

    50% {
        background-color: #08dff8;
        color: #000;
    }

    55% {
        background-color: #ff0099;
        color: #fff;
    }

    60% {
        background-color: #08dff8;
        color: #000;
    }

    65% {
        background-color: #ff0099;
        color: #fff;
    }

    70% {
        background-color: #08dff8;
        color: #000;
    }

    75% {
        background-color: #ff0099;
        color: #fff;
    }

    80% {
        background-color: #08dff8;
        color: #000;
    }

    85% {
        background-color: #ff0099;
        color: #fff;
    }

    90% {
        background-color: #08dff8;
        color: #000;
    }

    95% {
        background-color: #ff0099;
        color: #fff;
    }

    100% {
        background-color: #08dff8;
        color: #000;
    }
}

@media(max-width:425px) {
    .containerImgPro {
        animation-play-state: paused;
        overflow: auto;
        margin-top: 500px;
        width: 90%;
        height: 200vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containerImgPro a {
        width: 100%;
        height: 20%;
        overflow: auto;
        margin-bottom: 15px;
    }

    @keyframes entrada1 {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes entrada2 {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes entrada3 {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes entrada4 {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }
}

@media(max-width:420px) {
    .containerImgPro {
        margin-top: 800px;
    }
}