.containerAppsGlobal {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImgPro {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: movimientoGlobal;
    animation-delay: 1s;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 0;
    top: 0;
    transform: scale(1);
}

/* @keyframes movimientoGlobal {
    0% {
        left: 0px;
        top: 0px;
    }

    5% {
        left: 40px;
        top: -40px;
        transform: scale(1.08);
    }

    10% {
        left: -40px;
        top: 40px;
        border-top: none;
        border-right: none;
        transform: scale(1);
    }

    15% {
        left: -40px;
        top: -40px;
        transform: scale(1.08);
    }

    20% {
        left: 40px;
        top: 40px;
        transform: scale(1);
    }

    25% {
        left: -40px;
        top: -40px;
        transform: scale(1.08);
    }

    30% {
        left: -40px;
        top: 40px;
        transform: scale(1);
    }

    35% {
        left: 40px;
        top: 40px;
        transform: scale(1.08);
    }

    40% {
        left: -40px;
        top: -40px;
        transform: scale(1);
    }

    45% {
        left: 40px;
        top: -40px;
        transform: scale(1.08);
    }

    50% {
        left: -40px;
        top: 40px;
        transform: scale(1);
    }

    55% {
        left: 40px;
        top: 40px;
        transform: scale(1.08);
    }

    60% {
        left: -40px;
        top: -40px;
        transform: scale(1);
    }

    65% {
        left: 40px;
        top: -40px;
        transform: scale(1.08);
    }

    70% {
        left: -40px;
        top: -40px;
        transform: scale(1);
    }

    75% {
        left: 40px;
        top: -40px;
        transform: scale(1.08);
    }

    80% {
        left: 40px;
        top: 40px;
        transform: scale(1);
    }

    85% {
        left: -40px;
        top: -40px;
        transform: scale(1.08);
    }

    90% {
        left: 40px;
        top: -40px;
        transform: scale(1);
    }

    95% {
        left: 40px;
        top: 40px;
        transform: scale(1.08);
    }

    100% {
        left: -40px;
        top: -40px;
        transform: scale(1);
    }
} */

.containerImgPro a {
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImgPro a:nth-child(1) {
    animation-name: entrada1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes entrada1 {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.containerImgPro a:nth-child(2) {
    animation-name: entrada2;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes entrada2 {
    0% {
        top: -250%;
    }

    100% {
        top: 0;
    }
}

.containerImgPro a:nth-child(3) {
    animation-name: entrada3;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes entrada3 {
    0% {
        bottom: -400%;
    }

    100% {
        bottom: 0;
    }
}

.containerImgPro a:nth-child(4) {
    animation-name: entrada4;
    animation-timing-function: ease-in-out;
    animation-duration: 2.2s;
}

@keyframes entrada4 {
    0% {
        right: -600%;
    }

    100% {
        right: 0;
    }
}

.imagenProyec {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    filter: grayscale(60%);
    transition: .5s all;
    overflow: hidden;
}

.containerImgPro a:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

.aPrimero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.aPrimero::after {
    content: "Proyecto grupal Henry";
    position: absolute;
    bottom: -40px;
    overflow: hidden;
    width: 200px;
    height: 20px;
    color: #08dff8;
    font-weight: 700;
    text-align: center;
    transition: .5s all;
    animation: cambiarColorLetra ease-in-out 40s infinite;
}

.aPrimero:hover::after {
    bottom: 20px;
}

.aSegundo::after {
    content: "Proyecto individual Henry";
    position: absolute;
    bottom: -40px;
    width: 220px;
    height: 20px;
    color: #08dff8;
    font-weight: 700;
    text-align: center;
    transition: .5s all;
    animation: cambiarColorLetra ease-in-out 40s infinite;
}

.aSegundo:hover::after {
    bottom: 20px;
}

.aTercero::after {
    content: "Proyecto GitHub";
    position: absolute;
    bottom: -40px;
    width: 220px;
    height: 20px;
    color: #08dff8;
    font-weight: 700;
    text-align: center;
    transition: .5s all;
    animation: cambiarColorLetra ease-in-out 40s infinite;
}

.aTercero:hover::after {
    bottom: 20px;
}

.aCuarto::after {
    content: "Proyecto LG CoderHouse";
    position: absolute;
    bottom: -40px;
    width: 220px;
    height: 20px;
    color: #08dff8;
    font-weight: 700;
    text-align: center;
    transition: .5s all;
    animation: cambiarColorLetra ease-in-out 40s infinite;
}

.aCuarto:hover::after {
    bottom: 20px;
}

@keyframes cambiarColorLetra {
    0% {
        color: #ff0099;
    }

    5% {
        color: #08dff8;
    }

    10% {
        color: #ff0099;
    }

    15% {
        color: #08dff8;
    }

    20% {
        color: #ff0099;
    }

    25% {
        color: #08dff8;
    }

    30% {
        color: #ff0099;
    }

    35% {
        color: #08dff8;
    }

    40% {
        color: #ff0099;
    }

    45% {
        color: #08dff8;
    }

    50% {
        color: #ff0099;
    }

    55% {
        color: #08dff8;
    }

    60% {
        color: #ff0099;
    }

    65% {
        color: #08dff8;
    }

    70% {
        color: #ff0099;
    }

    75% {
        color: #08dff8;
    }

    80% {
        color: #ff0099;
    }

    85% {
        color: #08dff8;
    }

    90% {
        color: #ff0099;
    }

    95% {
        color: #08dff8;
    }

    100% {
        color: #ff0099;
    }
}

@keyframes cambiarColor {
    0% {
        background-color: #08dff8;
        color: #000;
    }

    5% {
        background-color: #ff0099;
        color: #fff;
    }

    10% {
        background-color: #08dff8;
        color: #000;
    }

    15% {
        background-color: #ff0099;
        color: #fff;
    }

    20% {
        background-color: #08dff8;
        color: #000;
    }

    25% {
        background-color: #ff0099;
        color: #fff;
    }

    30% {
        background-color: #08dff8;
        color: #000;
    }

    35% {
        background-color: #ff0099;
        color: #fff;
    }

    40% {
        background-color: #08dff8;
        color: #000;
    }

    45% {
        background-color: #ff0099;
        color: #fff;
    }

    50% {
        background-color: #08dff8;
        color: #000;
    }

    55% {
        background-color: #ff0099;
        color: #fff;
    }

    60% {
        background-color: #08dff8;
        color: #000;
    }

    65% {
        background-color: #ff0099;
        color: #fff;
    }

    70% {
        background-color: #08dff8;
        color: #000;
    }

    75% {
        background-color: #ff0099;
        color: #fff;
    }

    80% {
        background-color: #08dff8;
        color: #000;
    }

    85% {
        background-color: #ff0099;
        color: #fff;
    }

    90% {
        background-color: #08dff8;
        color: #000;
    }

    95% {
        background-color: #ff0099;
        color: #fff;
    }

    100% {
        background-color: #08dff8;
        color: #000;
    }
}

.aPrimero span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aPrimero:hover span {
    transform: scale(1);
}

.aSegundo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aSegundo span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aSegundo:hover span {
    transform: scale(1);
}

.aTercero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aTercero span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aTercero:hover span {
    transform: scale(1);
}

.aCuarto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aCuarto span {
    z-index: 10;
    font-size: 14px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #000;
    font-weight: 700;
    background-color: #08dff8;
    position: absolute;
    transform: scale(0);
    transition: .5s all ease-in-out;
    animation: cambiarColor ease-in-out 40s infinite;
}

.aCuarto:hover span {
    transform: scale(1);
}

@media(max-width:425px) {

    .containerImgPro a:nth-child(3) {
        animation-name: entrada3;
        animation-timing-function: ease-in-out;
        animation-duration: 1.5s;
    }

    .containerImgPro a:nth-child(4) {
        animation-name: entrada4;
        animation-timing-function: ease-in-out;
        animation-duration: 1.5s;
    }

    .containerAppsGlobal {
        height: 180vh;
        justify-content: space-around;
        align-items: flex-start;
    }

    .containerImgPro {
        animation-play-state: paused;
        overflow: auto;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
    }

    .aSegundo::after {
        display: none;
    }

    .aTercero::after {
        display: none;
    }

    .aCuarto::after {
        display: none;
    }

    .aPrimero::after {
        display: none;
    }

    .aPrimero {
        height: 200px;
    }

    .aSegundo {
        height: 200px;
    }

    .aTercero {
        height: 200px;
    }

    .aCuarto {
        height: 200px;
    }

    .containerImgPro a {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 50px;
    }

    @keyframes entrada1 {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes entrada2 {
        0% {
            right: -100%;
        }

        100% {
            right: 0;
        }
    }

    @keyframes entrada3 {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes entrada4 {
        0% {
            right: -100%;
        }

        100% {
            right: 0;
        }
    }
}

@media(max-width:420px) {
    .containerAppsGlobal {
        height: 120vh;
    }
}